Twitter_scraping/ALDE/*
Twitter_scraping/Non-attached/*
Twitter_scraping/S&D/*
Twitter_scraping/EFDD/*
Twitter_scraping/ENF/*
Twitter_scraping/EPP/*
Twitter_scraping/Greens-EFA/*
Twitter_scraping/ECR/*
Twitter_scraping/__pycache__/*
Twitter_scraping/GUE-NGL/*
Twitter_scraping/process.txt
venv/*
Dataset_completion/venv/*
